*{
	margin: 0;
	padding:0;
	border:0;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}
body{
	background: #FF2D00;
}

#navheader{
	background-color: #494848;
	color: #FFFFFF;
	font-family: 'Oxygen', sans-serif;
	font-size: 30px;
	border-radius: 0;
	border: 0 ;
}
#logo{
    background: url('../images/logo2.png') no-repeat;
	width: 118px;
	height: 108px;
	margin: 10px 15px 10px 5px;
	border: 1px solid #FFFFFF;
}

.navbar-brand {
	padding: 25px;
}
.navbar-brand p{ color: #FFFFFF;
	text-transform: uppercase;
font-size:0.9em; 
margin-top: 5px;
}
.navbar-brand h1{
	font-family: 'Headland One', serif;
	color: #FFFFFF;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1.5px 1.5px 1.5px #222;
	margin-top: 0px;
	margin-bottom: 0px;
}

#nav-list{
	margin-top: 10px;
}
#nav-list a {
  color: #FFFFFF;
  font-size: 0.7em;
  text-align: center;
}
li > div{
	font-size: 0.4em;
text-align: center;
}

#nav-list a:hover {
  background: #000000;
}
#nav-list a span{
	font-size: 0.85em
	padding-bottom:0px;
}
#phone{
	margin-top: 5px
}
#phone a {
	text-align: right;
	padding-bottom: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFFFFF;}

  .navbar-header button.navbar-toggle {
  clear: both;
 
}

/*  LARGE DEVICE  */
@media(min-width: 1200px)
{
.col-lg-4{
	width:33.33%;
}
}
}
/*MEDIUM */
@media(min-width: 992px) and (max-width:1199px )
{
	.navbar-brand h1{
	font-family: 'Headland One', serif;
	color: #FFFFFF;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 3px 3px 3px #222;
	margin-top: 0px;
	margin-bottom: 0px;
}
.col-md-4{width:33.33%;}
}
/*SMALL */
@media(min-width: 768px) and (max-width: 991px){
	.navbar-brand h1{
	font-family: 'Headland One', serif;
	color: #FFFFFF;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0px;
	margin-bottom: 0px;
}
.col-sm-6{width:50%;}
.col-sm-12{width:100%;}
}
/*SUPER SMALL*/
@media(max-width: 767px){
	#collapsable-nav a{
		font-size: 1.2em;
	}
	.col-xs-12{width:100%;}
}

/*END OF NAVIGATION BAR*/
#ourmenu{
	text-align: center;
	color: #FFFFFF;
	text-shadow: 2px 2px 2px #222;
	padding-bottom:20px;
}
#main{
	width:100%;
	height: 550px;
	border:0px solid #FFFFFF;
	margin: auto;
	padding: auto;
}
.box{
	width:100%;
	height:370px;
	border: 1px solid #3F0C1F;
	margin: 10px 1px 10px 10px;
	background: #494848;
	float:left;
	position : relative;
	padding: 5px 10px ;
	text-align: center;
}
.box:hover{
	background:#000000;
	box-shadow: 2px 2px 2px #222
}
.headbox{
	text-align: center;
	color:#FFFFFF;
	border: 3px dashed #FFFFFF;
	text-transform: uppercase;
	font-size: 30px;
	text-shadow: 1px 1px 1px #222;
	margin-bottom: 15px;}
.contents{
	color: #FFFFFF;
	font-size:1em;
}